.header {
    grid-area: h;
    height: 100%;
    background-color: rgb(20, 163, 132);
  }
  
  .header img {
    width: 110px;
    display: inline-block;
    padding: 0px;
    margin: 12px;
    margin-left: 15px ;
  }
