.header {
    grid-area: h;
    background-color: rgb(20, 163, 132);
  }
  
  .header img {
    width: 100px;
    display: inline-block;
    padding: 0px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: cyan 0px 0px 5px;
  }
