.nav {
    grid-area: n;
    background-color: rgb(132, 216, 198);
    padding: 15px;
  }

  .item a {
    text-decoration: none;
    color: white;
  }

  .item a.active {
    color: rgb(1, 66, 36);
    text-shadow: rgb(0, 107, 89) 0px 0px 10px;
  }