.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 15px;
   
}

.dialogsItem .active {
    color: rgb(2, 95, 75);
    text-shadow: rgb(11, 126, 97) 0px 0px 10px;
}

.dialog a {
    text-decoration: none;
    color: black;
}



.messages {
    padding: 15px;
}